In [1]:
import pandas as pd
import numpy as np

In [2]:
food = pd.read_csv("food.csv")

In [3]:
print("\n--- Dataset Info ---")
print(food.info())

--- Dataset Info ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7413 entries, 0 to 7412
Data columns (total 48 columns):
 #   Column                                                   Non-Null Count  Dtype
---  ------                                                   --------------  -----
 0   Category                                                 7413 non-null   object
 1   Description                                              7413 non-null   object
 2   Nutrient Data Bank Number                                7413 non-null   int64
 3   Data.Alpha Carotene                                      7413 non-null   int64
 4   Data.Ash                                                 7413 non-null   float64
 5   Data.Beta Carotene                                       7413 non-null   int64
 6   Data.Beta Cryptoxanthin                                  7413 non-null   int64
 7   Data.Carbohydrate                                        7413 non-null   float64
 8   Data.Cholesterol                                         7413 non-null   int64
 9   Data.Choline                                             7413 non-null   int64
 10  Data.Fiber                                               7413 non-null   float64
 11  Data.Kilocalories                                        7413 non-null   int64
 12  Data.Lutein and Zeaxanthin                               7413 non-null   int64
 13  Data.Lycopene                                            7413 non-null   int64
 14  Data.Manganese                                           7413 non-null   float64
 15  Data.Niacin                                              7413 non-null   float64
 16  Data.Pantothenic Acid                                    7413 non-null   float64
 17  Data.Protein                                             7413 non-null   float64
 18  Data.Refuse Percentage                                   7413 non-null   int64
 19  Data.Retinol                                             7413 non-null   int64
 20  Data.Riboflavin                                          7413 non-null   float64
 21  Data.Selenium                                            7413 non-null   float64
 22  Data.Sugar Total                                         7413 non-null   float64
 23  Data.Thiamin                                             7413 non-null   float64
 24  Data.Water                                               7413 non-null   float64
 25  Data.Fat.Monosaturated Fat                               7413 non-null   float64
 26  Data.Fat.Polysaturated Fat                               7413 non-null   float64
 27  Data.Fat.Saturated Fat                                   7413 non-null   float64
 28  Data.Fat.Total Lipid                                     7413 non-null   float64
 29  Data.Household Weights.1st Household Weight              7413 non-null   float64
 30  Data.Household Weights.1st Household Weight Description  6943 non-null   object
 31  Data.Household Weights.2nd Household Weight              7413 non-null   int64
 32  Data.Household Weights.2nd Household Weight Description  4313 non-null   object
 33  Data.Major Minerals.Calcium                              7413 non-null   int64
 34  Data.Major Minerals.Copper                               7413 non-null   float64
 35  Data.Major Minerals.Iron                                 7413 non-null   float64
 36  Data.Major Minerals.Magnesium                            7413 non-null   int64
 37  Data.Major Minerals.Phosphorus                           7413 non-null   int64
 38  Data.Major Minerals.Potassium                            7413 non-null   int64
 39  Data.Major Minerals.Sodium                               7413 non-null   int64
 40  Data.Major Minerals.Zinc                                 7413 non-null   float64
 41  Data.Vitamins.Vitamin A - IU                             7413 non-null   int64
 42  Data.Vitamins.Vitamin A - RAE                            7413 non-null   int64
 43  Data.Vitamins.Vitamin B12                                7413 non-null   float64
 44  Data.Vitamins.Vitamin B6                                 7413 non-null   float64
 45  Data.Vitamins.Vitamin C                                  7413 non-null   float64
 46  Data.Vitamins.Vitamin E                                  7413 non-null   float64
 47  Data.Vitamins.Vitamin K                                  7413 non-null   float64
dtypes: float64(25), int64(19), object(4)
memory usage: 2.7+ MB
None

In [4]:
print("\n--- Sample Rows ---")
display(food.head())

--- Sample Rows ---

,Category,Description,Nutrient Data Bank Number,Data.Alpha Carotene,Data.Ash,Data.Beta Carotene,Data.Beta Cryptoxanthin,Data.Carbohydrate,Data.Cholesterol,Data.Choline,...,Data.Major Minerals.Potassium,Data.Major Minerals.Sodium,Data.Major Minerals.Zinc,Data.Vitamins.Vitamin A - IU,Data.Vitamins.Vitamin A - RAE,Data.Vitamins.Vitamin B12,Data.Vitamins.Vitamin B6,Data.Vitamins.Vitamin C,Data.Vitamins.Vitamin E,Data.Vitamins.Vitamin K
0,BUTTER,"BUTTER,WITH SALT",1001,0,2.11,158,0,0.06,215,19,...,24,576,0.09,2499,684,0.17,0.003,0.0,2.32,7.0
1,BUTTER,"BUTTER,WHIPPED,WITH SALT",1002,0,2.11,158,0,0.06,219,19,...,26,827,0.05,2499,684,0.13,0.003,0.0,2.32,7.0
2,BUTTER OIL,"BUTTER OIL,ANHYDROUS",1003,0,0.00,193,0,0.00,256,22,...,5,2,0.01,3069,840,0.01,0.001,0.0,2.80,8.6
3,CHEESE,"CHEESE,BLUE",1004,0,5.11,74,0,2.34,75,15,...,256,1395,2.66,763,198,1.22,0.166,0.0,0.25,2.4
4,CHEESE,"CHEESE,BRICK",1005,0,3.18,76,0,2.79,94,15,...,136,560,2.60,1080,292,1.26,0.065,0.0,0.26,2.5

In [5]:
print("\n--- Missing Values ---")
print(food.isnull().sum()[food.isnull().sum() > 0])

--- Missing Values ---
Data.Household Weights.1st Household Weight Description     470
Data.Household Weights.2nd Household Weight Description    3100
dtype: int64

In [6]:
food['Data.Household Weights.1st Household Weight Description'] = (
    food['Data.Household Weights.1st Household Weight Description'].fillna("Not Available")
)
food['Data.Household Weights.2nd Household Weight Description'] = (
    food['Data.Household Weights.2nd Household Weight Description'].fillna("Not Available")
)

print("\n‚úÖ Missing Values Filled")

‚úÖ Missing Values Filled

In [7]:
duplicate_rows = food.duplicated().sum()
print(f"\nüîÅ Duplicate Rows: {duplicate_rows}")

üîÅ Duplicate Rows: 0

In [8]:
food.columns = food.columns.str.replace(' ', '_').str.replace('.', '_').str.replace('-', '_')
print("\n‚úÖ Column names standardized")

‚úÖ Column names standardized

In [9]:
print("\n--- Cleaned Data Overview ---")
print(food.info())
print("\n--- Sample Data After Cleaning ---")
display(food.head())

--- Cleaned Data Overview ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7413 entries, 0 to 7412
Data columns (total 48 columns):
 #   Column                                                   Non-Null Count  Dtype
---  ------                                                   --------------  -----
 0   Category                                                 7413 non-null   object
 1   Description                                              7413 non-null   object
 2   Nutrient_Data_Bank_Number                                7413 non-null   int64
 3   Data_Alpha_Carotene                                      7413 non-null   int64
 4   Data_Ash                                                 7413 non-null   float64
 5   Data_Beta_Carotene                                       7413 non-null   int64
 6   Data_Beta_Cryptoxanthin                                  7413 non-null   int64
 7   Data_Carbohydrate                                        7413 non-null   float64
 8   Data_Cholesterol                                         7413 non-null   int64
 9   Data_Choline                                             7413 non-null   int64
 10  Data_Fiber                                               7413 non-null   float64
 11  Data_Kilocalories                                        7413 non-null   int64
 12  Data_Lutein_and_Zeaxanthin                               7413 non-null   int64
 13  Data_Lycopene                                            7413 non-null   int64
 14  Data_Manganese                                           7413 non-null   float64
 15  Data_Niacin                                              7413 non-null   float64
 16  Data_Pantothenic_Acid                                    7413 non-null   float64
 17  Data_Protein                                             7413 non-null   float64
 18  Data_Refuse_Percentage                                   7413 non-null   int64
 19  Data_Retinol                                             7413 non-null   int64
 20  Data_Riboflavin                                          7413 non-null   float64
 21  Data_Selenium                                            7413 non-null   float64
 22  Data_Sugar_Total                                         7413 non-null   float64
 23  Data_Thiamin                                             7413 non-null   float64
 24  Data_Water                                               7413 non-null   float64
 25  Data_Fat_Monosaturated_Fat                               7413 non-null   float64
 26  Data_Fat_Polysaturated_Fat                               7413 non-null   float64
 27  Data_Fat_Saturated_Fat                                   7413 non-null   float64
 28  Data_Fat_Total_Lipid                                     7413 non-null   float64
 29  Data_Household_Weights_1st_Household_Weight              7413 non-null   float64
 30  Data_Household_Weights_1st_Household_Weight_Description  7413 non-null   object
 31  Data_Household_Weights_2nd_Household_Weight              7413 non-null   int64
 32  Data_Household_Weights_2nd_Household_Weight_Description  7413 non-null   object
 33  Data_Major_Minerals_Calcium                              7413 non-null   int64
 34  Data_Major_Minerals_Copper                               7413 non-null   float64
 35  Data_Major_Minerals_Iron                                 7413 non-null   float64
 36  Data_Major_Minerals_Magnesium                            7413 non-null   int64
 37  Data_Major_Minerals_Phosphorus                           7413 non-null   int64
 38  Data_Major_Minerals_Potassium                            7413 non-null   int64
 39  Data_Major_Minerals_Sodium                               7413 non-null   int64
 40  Data_Major_Minerals_Zinc                                 7413 non-null   float64
 41  Data_Vitamins_Vitamin_A___IU                             7413 non-null   int64
 42  Data_Vitamins_Vitamin_A___RAE                            7413 non-null   int64
 43  Data_Vitamins_Vitamin_B12                                7413 non-null   float64
 44  Data_Vitamins_Vitamin_B6                                 7413 non-null   float64
 45  Data_Vitamins_Vitamin_C                                  7413 non-null   float64
 46  Data_Vitamins_Vitamin_E                                  7413 non-null   float64
 47  Data_Vitamins_Vitamin_K                                  7413 non-null   float64
dtypes: float64(25), int64(19), object(4)
memory usage: 2.7+ MB
None

--- Sample Data After Cleaning ---

,Category,Description,Nutrient_Data_Bank_Number,Data_Alpha_Carotene,Data_Ash,Data_Beta_Carotene,Data_Beta_Cryptoxanthin,Data_Carbohydrate,Data_Cholesterol,Data_Choline,...,Data_Major_Minerals_Potassium,Data_Major_Minerals_Sodium,Data_Major_Minerals_Zinc,Data_Vitamins_Vitamin_A___IU,Data_Vitamins_Vitamin_A___RAE,Data_Vitamins_Vitamin_B12,Data_Vitamins_Vitamin_B6,Data_Vitamins_Vitamin_C,Data_Vitamins_Vitamin_E,Data_Vitamins_Vitamin_K
0,BUTTER,"BUTTER,WITH SALT",1001,0,2.11,158,0,0.06,215,19,...,24,576,0.09,2499,684,0.17,0.003,0.0,2.32,7.0
1,BUTTER,"BUTTER,WHIPPED,WITH SALT",1002,0,2.11,158,0,0.06,219,19,...,26,827,0.05,2499,684,0.13,0.003,0.0,2.32,7.0
2,BUTTER OIL,"BUTTER OIL,ANHYDROUS",1003,0,0.00,193,0,0.00,256,22,...,5,2,0.01,3069,840,0.01,0.001,0.0,2.80,8.6
3,CHEESE,"CHEESE,BLUE",1004,0,5.11,74,0,2.34,75,15,...,256,1395,2.66,763,198,1.22,0.166,0.0,0.25,2.4
4,CHEESE,"CHEESE,BRICK",1005,0,3.18,76,0,2.79,94,15,...,136,560,2.60,1080,292,1.26,0.065,0.0,0.26,2.5

In [10]:
print("\n--- Descriptive Statistics ---")
display(food.describe(include='all'))

--- Descriptive Statistics ---

,Category,Description,Nutrient_Data_Bank_Number,Data_Alpha_Carotene,Data_Ash,Data_Beta_Carotene,Data_Beta_Cryptoxanthin,Data_Carbohydrate,Data_Cholesterol,Data_Choline,...,Data_Major_Minerals_Potassium,Data_Major_Minerals_Sodium,Data_Major_Minerals_Zinc,Data_Vitamins_Vitamin_A___IU,Data_Vitamins_Vitamin_A___RAE,Data_Vitamins_Vitamin_B12,Data_Vitamins_Vitamin_B6,Data_Vitamins_Vitamin_C,Data_Vitamins_Vitamin_E,Data_Vitamins_Vitamin_K
count,7413,7413,7413.000000,7413.000000,7413.000000,7413.000000,7413.000000,7413.000000,7413.000000,7413.000000,...,7413.000000,7413.000000,7413.000000,7413.000000,7413.000000,7413.000000,7413.000000,7413.000000,7413.000000,7413.000000
unique,1183,7409,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,BEEF,"BABYFOOD,MEAT,BF,STR",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,457,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,14116.443680,21.210711,1.852459,159.043437,8.776744,21.785381,37.162822,20.673546,...,268.348172,331.590719,1.875125,767.568191,99.437070,1.172903,0.269547,9.075651,0.842837,9.448604
std,NaN,NaN,8767.416214,269.714183,2.993228,1126.285026,154.184860,27.123491,119.738438,45.481990,...,404.916220,977.046544,4.193682,3871.307652,761.653061,4.512816,0.565116,63.443284,4.169756,66.067619
min,NaN,NaN,1001.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,NaN,NaN,8121.000000,0.000000,0.830000,0.000000,0.000000,0.490000,0.000000,0.000000,...,103.000000,31.000000,0.190000,0.000000,0.000000,0.000000,0.030000,0.000000,0.000000,0.000000
50%,NaN,NaN,12539.000000,0.000000,1.240000,0.000000,0.000000,9.290000,2.000000,0.000000,...,210.000000,86.000000,0.770000,33.000000,0.000000,0.010000,0.110000,0.000000,0.050000,0.000000
75%,NaN,NaN,18424.000000,0.000000,2.200000,1.000000,0.000000,30.590000,60.000000,20.000000,...,328.000000,428.000000,2.460000,280.000000,24.000000,0.830000,0.330000,3.500000,0.390000,1.700000
max,NaN,NaN,93600.000000,14251.000000,99.800000,42891.000000,7923.000000,100.000000,3100.000000,1388.000000,...,16500.000000,38758.000000,181.610000,100000.000000,30000.000000,98.890000,12.000000,2400.000000,149.400000,1714.500000

In [11]:
food.to_csv("cleaned_food.csv", index=False)
print("\nüíæ Cleaned dataset saved as 'cleaned_food.csv'")

üíæ Cleaned dataset saved as 'cleaned_food.csv'